

<div class="wrapper two-cols col-md-offset-3">
    <a href="@Url.Action("SkiCategories", "Skis")">
        <div id="ski-products" class="prod-images"></div>Ski</a>
    <a href="@Url.Action("BindingsCategories", "Bindings")">
        <div id="bindings-products" class="prod-images"></div>Bindings</a>
    <a href="@Url.Action("BootsCategories", "Boots")">
        <div id="boots-products" class="prod-images"></div>Boots</a>
    <a href="@Url.Action("HelmetsCategories", "Helmets")"> 
        <div id="helmets-products" class="prod-images"></div>Helmets</a>
</div>

